body {
    margin: 0;
}

#targetLine {
    background-color: red;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#legend {
    border: 1px solid black;
    height: 56px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 120px;
}

.bubble {
    background: #ffffffff;
    border-radius: 100%;
    left: 50px;
    position: absolute;
    top: 50px;
}

#result {
    background-color: chocolate;
    border: 1px solid black;
    color: white;
    display: none;
    font-size: 30px;
    height: calc(100% - 300px);
    left: 100px;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    top: 100px;
    width: calc(100% - 200px);
    z-index: 100;
}

#highscoreTable {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
}

.current td {
    font-weight: bold;
    background-color: white;
    color: chocolate;
}
